%% SPDX-License-Identifier: Apache-2.0
%% SPDX-FileCopyrightText: 2025 Stritzinger GmbH

{erl_opts, [no_debug_info]}.
{deps, [
    {rebar, {git_subdir, "https://github.com/erlang/rebar3.git", {tag, "3.25.1"}, "apps"}}
]}.

{plugins, [
    {cassone, {git, "git@github.com:stritzinger/cassone.git", {branch, "gl/cross-architecture-support"}}}
]}.

{escript_incl_apps, [rebar,bombom]}.
{escript_main_app, bombom}.
{escript_name, bombom}.
{escript_emu_args, "%%! +sbtu +A1\n"}.

{profiles, [
    {test, [
        {erl_opts, [debug_info]}
    ]}
]}.

{cassone, [
    {mode, escript},
    {targets, [{linux, aarch64}, {linux, x86_64}]}
]}.

% {ex_doc, [
%     {extras, ["README.md"]},
%     {main, "README.md"},
%     {source_url, "https://github.com/erlef/bombom"}
% ]}.

% {hex, [{doc, ex_doc}]}.
