{erl_opts, [no_debug_info]}.
{deps, [
    {rebar, {git_subdir, "https://github.com/erlang/rebar3.git", {tag, "3.25.1"}, "apps"}}
]}.

{escript_incl_apps, [rebar,bombom]}.
{escript_main_app, bombom}.
{escript_name, bombom}.
{escript_emu_args, "%%! +sbtu +A1\n"}.

{profiles, [
    {test, [
        {erl_opts, [debug_info]}
    ]}
]}.
