name: Build bombom.bin - (linux)

on:
  workflow_call:
    inputs:
      otp_version:
        type: string
        description: OTP version to use
        required: true
        default: "28.1.1"
      rebar_version:
        type: string
        description: Rebar version to use
        required: true
        default: "3.26.0"
      attest:
        type: boolean
        description: Whether to attest the build provenance
        required: false
        default: false

permissions:
  contents: read
  id-token: write
  attestations: write

env:
  OTP_VERSION: "28.1.1"
  REBAR_VERSION: "3.26.0"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install deps
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            git build-essential pkg-config zlib1g-dev

      - name: Setup BEAM
        uses: erlef/setup-beam@v1
        with:
          otp-version: ${{ inputs.otp_version || env.OTP_VERSION }}
          rebar-version: ${{ inputs.rebar_version || env.REBAR_VERSION }}

      - name: Build binaries using cassone
        run: |
          rebar3 cassone

      - name: Generate checksums
        run: |
          sha256sum ${{github.workspace}}/bombom/bombom-linux-arm64.bin > ${{github.workspace}}/bombom/bombom-linux-arm64.bin.sha256
          sha256sum ${{github.workspace}}/bombom/bombom-linux-amd64.bin > ${{github.workspace}}/bombom/bombom-linux-amd64.bin.sha256

      - name: Test and attest amd64
        uses: ./.github/workflows/test_and_attest.yml
        with:
          arch: "amd64"
          attest: ${{ inputs.attest || false }}

      - name: Test and attest arm64
        uses: ./.github/workflows/test_and_attest.yml
        with:
          arch: "arm64"
          attest: ${{ inputs.attest || false }}
